@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-25: #e7edfe;
  --color-primary-50: #d1ddfd;
  --color-primary-100: #a3bafa;
  --color-primary-200: #7498f8;
  --color-primary-250: #4675f5;
  --color-primary-300: #1853f3;
  --color-primary-500: #1342c2;
  --color-primary-600: #0e3292;
  --color-primary-800: #0a2161;
  --color-grey: #6d7d8b;
  --color-light-grey: #dae3ea;
  --color-green: #00c04d;
  --color-red: #ed2d30;
  --color-yellow: #ffb800;

  --font-sans: "Mulish", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: white;
    color: var(--color-grey);
  }
  main {
    @apply min-h-screen pt-10;
  }
  h1 {
    @apply text-5xl font-extrabold max-sm:text-3xl;
  }
  h2 {
    @apply text-4xl font-bold max-sm:text-2xl;
  }
  h3 {
    @apply text-3xl font-semibold max-sm:text-xl;
  }
  h4 {
    @apply text-2xl font-semibold max-sm:text-lg;
  }
  p {
    @apply text-lg max-sm:text-sm;
  }
  a {
    @apply text-lg font-medium max-sm:text-sm;
  }
}
@layer components {
  .animated-fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  .btn-primary {
    @apply bg-primary-300 text-white font-bold rounded-2xl hover:bg-primary-600 transition-all duration-300 cursor-pointer
  text-base sm:text-lg lg:text-xl 
  py-2.5 px-5 sm:py-3 sm:px-6;
  }

  .btn-secondary {
    @apply bg-white text-primary-800 font-bold rounded-2xl hover:opacity-80 transition-all duration-300 cursor-pointer
  text-base sm:text-lg lg:text-xl 
  py-2.5 px-4 sm:py-3 sm:px-5;
  }

  /* In global.css or a component-specific CSS file */
  .fancy-link {
    @apply relative inline-block transition-colors duration-300;
  }

  .fancy-link::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-[2px] w-full origin-left scale-x-0 transition-transform duration-300;
    background-color: currentColor; /* underline matches text color */
  }

  .fancy-link:hover::after {
    @apply scale-x-100;
  }

  .form-label {
    @apply text-sm font-semibold text-primary-800 ;
  }

  .form-field {
    @apply w-full bg-white rounded-2xl px-4 py-2 text-primary-800 placeholder-gray-400
         border border-grey outline-none transition-all duration-200
         focus:border-primary-500 focus:ring-4 focus:ring-primary-200/60;
  }

  .form-field-error {
    @apply border-red-500 focus:border-red-600 focus:ring-4 focus:ring-red-200/60;
  }

  .form-field:disabled {
    @apply opacity-60 cursor-not-allowed bg-gray-100;
  }
}

@layer utilities {
  .two-columns-section {
    @apply flex flex-col items-center justify-center px-6 py-10 gap-6 transition-all duration-1000 md:flex-row md:items-center md:justify-between md:px-24 md:py-16 md:gap-20;
  }

  .two-columns-section-left {
    @apply md:pl-0;
  }

  .two-columns-section-right {
    @apply md:pr-0;
  }

  /* Custom Scrollbar Styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 100px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-primary-300);
    border-radius: 100px;
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-250);
  }

  /* Firefox scrollbar */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary-300) rgba(255, 255, 255, 0.9);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: var(--color-primary-300);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
