@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-50: #d1ddfd;
  --color-primary-50: #a3bafa;
  --color-primary-100: #7498f8;
  --color-primary-300: #1853f3;
  --color-primary-500: #1342c2;
  --color-primary-600: #0e3292;
  --color-primary-800: #0a2161;
  --color-grey: #6d7d8b;
  --color-light-grey: #dae3ea;
  --color-green: #00c04d;
  --color-red: #ed2d30;
  --color-yellow: #ffb800;

  --font-sans: "Mulish", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: white;
    color: var(--color-grey);
  }
  main {
    @apply min-h-screen pt-10;
  }
  h1 {
    @apply text-5xl font-extrabold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  h4 {
    @apply text-2xl font-semibold;
  }
  p {
    @apply text-lg;
  }
  a {
    @apply text-lg font-medium;
  }
}
@layer components {
  .animated-fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  .btn-primary {
    @apply bg-primary-500 text-white font-semibold py-2 px-4 rounded hover:bg-primary-600  transition-all duration-300 cursor-pointer;
  }

  .btn-secondary {
    @apply bg-white text-primary-500 font-semibold py-2 px-4 rounded  hover:opacity-80 transition-all duration-300 cursor-pointer;
  }
  /* In global.css or a component-specific CSS file */
  .fancy-link {
    @apply relative inline-block text-white transition-colors duration-300 hover:text-gray-200;
  }

  .fancy-link::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-[2px] w-full bg-white origin-left scale-x-0 transition-transform duration-300;
  }

  .fancy-link:hover::after {
    @apply scale-x-100;
  }

  .two-columns-section {
    @apply flex flex-row items-center justify-between px-24 py-16 gap-20  transition-all duration-1000  ;
  }
  .two-columns-section-left {
    @apply  pl-0;
  }
  .two-columns-section-right {
    @apply pr-0;
  }
}
